In [152]:
#### Examen Final Mauricio Escamilla 
import pandas as pd
import numpy as np

#### 1. Escribe una función que acepte un string y calcule el número de mayúsculas y minúsculas en él.  ( 1 )

In [1]:
# 1) Se pide la palabra o la oración tipo String

text = str(input ("Introduce un texto : ")) 

# Definimos las minusculas y las mayusculas

mayu= "ABCDEFGHIJKLMNÑOPQRSTUVWXYZ"

minu= "abcdefghijklmnñopqrstuvwxyz"

low_c = 0
upper_c = 0

# Contamos y clasificamos

for s in text:
    if s in mayu:
       upper_c+=1
    elif s in minu:
       low_c +=1
    
print("El número de minusculas es:", low_c)
print("El número de mayuscula es:", upper_c)

Introduce un texto : Mauricio Escamilla PAREDES
El número de minusculas es: 15
El número de mayuscula es: 9

#### 2. Escribe un programa que calcule el `factorial` de un número entre 0 y 100 ingresado al programa por el usuario. Si el programa recibe como valor un número fuera del rango deberá volver a solicitar que se ingrese el número. (1.5)

In [40]:

# Definimos el factorial 
def factorial2(num):
    r = 1  
    if num < 0:        
        return print("No hay factorial para numeros negativos, vuelva a introducir otro número")
        
    if num >= 100:
        return print("No se admiten valores mayores al 100. Vuelva a introducir un nuevo número menor a 100 por favor:")
    for d in range(2, num + 1):
        r *= d
    return r    


# Se introduce el número entre 0 y 99

numero = int(input ("Elige algun número para el factorial: "))
result= factorial2(numero)
print(result)

Elige algun número para el factorial: 56
710998587804863451854045647463724949736497978881168458687447040000000000000

#### 3. Utilizando una función Lambda escribe un programa que eleve al cuadrado y al cubo cada número de una lista de enteros dada. (1 )

In [71]:
# Introducimos los datos
lista_3 = [1, 3, 55, 88, 77, 9, 12]
lista_3

[1, 3, 55, 88, 77, 9, 12]

In [100]:
s2 = pd.Series(lista_3).apply(lambda x:x**2)
print(s2)

0       1
1       9
2    3025
3    7744
4    5929
5      81
6     144
dtype: int64

In [101]:
s3 = pd.Series(lista_3).apply(lambda x:x**3)
print(s3)

0         1
1        27
2    166375
3    681472
4    456533
5       729
6      1728
dtype: int64

#### 4. Escribe un programa que encuentre los elementos de longitud 6 de una lista dada utilizando una función ` lambda.` Asegúrate de imprimir dichos elementos  (1)

In [1]:
# Introducimos una lista de elementos 
lista_4 = ['computacion', 'matematicas', 'economia', 'son','edad', 'en',  'fisica']
lista_4

['computacion', 'matematicas', 'economia', 'son', 'edad', 'en', 'fisica']

In [4]:
lista_filtrada = list(filter(lambda x: len(x) >= 6 , lista_4))    
print(lista_filtrada)

['computacion', 'matematicas', 'economia', 'fisica']

#### 5. Escribe un programa que `filtre` los números divisibles entre 13 de una lista dada. (1.5)

In [4]:
# Introducimos una lista 

lista_5 = [1, 3, 12, 13, 16 ,26, 52, 80 ,90, 104, 105, 111]
res_5 = list(filter(lambda x:x % 13 == 0, lista_5))

print("Los números divisibles por 13 son:",res_5)

Los números divisibles por 13 son: [13, 26, 52, 104]

## Utilizando el archivo ` 'jamesbond_e.csv'`  proporcionado:

#### 6. Con el metodo `.query( )`  filtra las películas cuyo actor sea Daniel Craig y que hayan tenido ingresos en todo el mundo (World Gross) de más de 600 millones de USD.  (2)
Nota: tendrás que 'arreglar' algo en los nombres de algunas variables para que este método funcione. Para ello, puedes usar la sintaxis de `list comprehension` vista en clase.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('jamesbond_e.csv', index_col = 'Year')
df.head()

,Movie,Bond Actor,Director,Depicted Film Loc,Bond Car,Bond_Girl_Nat,US_Gross,World Gross,Budget,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom
Year,,,,,,,,,,,,
1962,Dr. No,Sean Connery,Terence Young,"Great Britain, Jamaic",Sunbeam,"Swiss, English, English",16067035,59567035,1000,110,7.3,7.7
1963,From Russia with Love,Sean Connery,Terence Young,"United Kingdom, Great Britain, Turkey, Croatia...",Bently,"English, Italian, English, Israeli",24800000,78900000,2000,115,7.5,8.0
1964,Goldfinger,Sean Connery,Guy Hamilton,"United States, Great Britain, Switzerland",Aston Martin,"Serbian, English",51100000,124900000,3000,110,7.8,8.4
1965,Thunderball,Sean Connery,Terence Young,"France, Great Britain, Bahamas, United States",Aston Martin,"French, Italian, Bahamian",63600000,141200000,9000,130,7.0,6.8
1967,You Only Live Twice,Sean Connery,Lewis Gilbert,"United States, Russia, Kazakhstan, Norway, Japan",Toyota,"Japanese, Chinese, German",43100000,111600000,9500,117,6.9,6.3

In [3]:
df.columns = [column_name.replace(" ", "_") for column_name in df.columns]
df.columns

Index(['Movie', 'Bond_Actor', 'Director', 'Depicted_Film_Loc', 'Bond_Car',
       'Bond_Girl_Nat', 'US_Gross', 'World_Gross', 'Budget', 'Film_Length',
       'Avg_User_IMDB', 'Avg_User_Rtn_Tom'],
      dtype='object')

In [4]:
df.query("Bond_Actor == 'Daniel Craig' and World_Gross > 600000000")

,Movie,Bond_Actor,Director,Depicted_Film_Loc,Bond_Car,Bond_Girl_Nat,US_Gross,World_Gross,Budget,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom
Year,,,,,,,,,,,,
2012,Skyfall,Daniel Craig,Sam Mendes,"Turkey, England, China, Macau, Japan, Scotland",Aston Martin,"French, Greek, English",304360277,1108561108,200000,143,7.8,8.2
2015,Spectre,Daniel Craig,Sam Mendes,"Mexico, England, Italy, Austria, Morocco, Vati...",Aston Martin,"French, Italian, Mexican",200074175,879620923,245000,148,6.8,6.4

#### 7.   a) Haz que la variable 'Movie' sea el índice de la tabla y que este cambio sea `permanente`.      b) Escribe una instrucción para deshacer la operación anterior de forma `permanente` .  (1)

In [5]:
#A
df.set_index('Movie', inplace = True)
df.head()

,Bond_Actor,Director,Depicted_Film_Loc,Bond_Car,Bond_Girl_Nat,US_Gross,World_Gross,Budget,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom
Movie,,,,,,,,,,,
Dr. No,Sean Connery,Terence Young,"Great Britain, Jamaic",Sunbeam,"Swiss, English, English",16067035,59567035,1000,110,7.3,7.7
From Russia with Love,Sean Connery,Terence Young,"United Kingdom, Great Britain, Turkey, Croatia...",Bently,"English, Italian, English, Israeli",24800000,78900000,2000,115,7.5,8.0
Goldfinger,Sean Connery,Guy Hamilton,"United States, Great Britain, Switzerland",Aston Martin,"Serbian, English",51100000,124900000,3000,110,7.8,8.4
Thunderball,Sean Connery,Terence Young,"France, Great Britain, Bahamas, United States",Aston Martin,"French, Italian, Bahamian",63600000,141200000,9000,130,7.0,6.8
You Only Live Twice,Sean Connery,Lewis Gilbert,"United States, Russia, Kazakhstan, Norway, Japan",Toyota,"Japanese, Chinese, German",43100000,111600000,9500,117,6.9,6.3

In [6]:
#B
df.reset_index(inplace = True)
df.head()

,Movie,Bond_Actor,Director,Depicted_Film_Loc,Bond_Car,Bond_Girl_Nat,US_Gross,World_Gross,Budget,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom
0,Dr. No,Sean Connery,Terence Young,"Great Britain, Jamaic",Sunbeam,"Swiss, English, English",16067035,59567035,1000,110,7.3,7.7
1,From Russia with Love,Sean Connery,Terence Young,"United Kingdom, Great Britain, Turkey, Croatia...",Bently,"English, Italian, English, Israeli",24800000,78900000,2000,115,7.5,8.0
2,Goldfinger,Sean Connery,Guy Hamilton,"United States, Great Britain, Switzerland",Aston Martin,"Serbian, English",51100000,124900000,3000,110,7.8,8.4
3,Thunderball,Sean Connery,Terence Young,"France, Great Britain, Bahamas, United States",Aston Martin,"French, Italian, Bahamian",63600000,141200000,9000,130,7.0,6.8
4,You Only Live Twice,Sean Connery,Lewis Gilbert,"United States, Russia, Kazakhstan, Norway, Japan",Toyota,"Japanese, Chinese, German",43100000,111600000,9500,117,6.9,6.3

#### 8. Crea una nueva columna en la tabla llamada `'Budget_millions'` y llénala de forma tal que la cifra esté expresada en millones de USD.     NOTA: La variable `"Budget"` está en miles. Es decir, si Budget = 1000, esto quiere decir que el Budget (presupuesto) fue de 1 millón. (1)

In [7]:
butg = df.Budget/1000
df['Budget_millions'] =  butg
df.head()

,Movie,Bond_Actor,Director,Depicted_Film_Loc,Bond_Car,Bond_Girl_Nat,US_Gross,World_Gross,Budget,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Budget_millions
0,Dr. No,Sean Connery,Terence Young,"Great Britain, Jamaic",Sunbeam,"Swiss, English, English",16067035,59567035,1000,110,7.3,7.7,1.0
1,From Russia with Love,Sean Connery,Terence Young,"United Kingdom, Great Britain, Turkey, Croatia...",Bently,"English, Italian, English, Israeli",24800000,78900000,2000,115,7.5,8.0,2.0
2,Goldfinger,Sean Connery,Guy Hamilton,"United States, Great Britain, Switzerland",Aston Martin,"Serbian, English",51100000,124900000,3000,110,7.8,8.4,3.0
3,Thunderball,Sean Connery,Terence Young,"France, Great Britain, Bahamas, United States",Aston Martin,"French, Italian, Bahamian",63600000,141200000,9000,130,7.0,6.8,9.0
4,You Only Live Twice,Sean Connery,Lewis Gilbert,"United States, Russia, Kazakhstan, Norway, Japan",Toyota,"Japanese, Chinese, German",43100000,111600000,9500,117,6.9,6.3,9.5

#### 9. Una vez hecho el punto 8, elimina permanentemente la columna 'Budget' (0.5)

In [8]:
df.pop('Budget')
df.head()

,Movie,Bond_Actor,Director,Depicted_Film_Loc,Bond_Car,Bond_Girl_Nat,US_Gross,World_Gross,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Budget_millions
0,Dr. No,Sean Connery,Terence Young,"Great Britain, Jamaic",Sunbeam,"Swiss, English, English",16067035,59567035,110,7.3,7.7,1.0
1,From Russia with Love,Sean Connery,Terence Young,"United Kingdom, Great Britain, Turkey, Croatia...",Bently,"English, Italian, English, Israeli",24800000,78900000,115,7.5,8.0,2.0
2,Goldfinger,Sean Connery,Guy Hamilton,"United States, Great Britain, Switzerland",Aston Martin,"Serbian, English",51100000,124900000,110,7.8,8.4,3.0
3,Thunderball,Sean Connery,Terence Young,"France, Great Britain, Bahamas, United States",Aston Martin,"French, Italian, Bahamian",63600000,141200000,130,7.0,6.8,9.0
4,You Only Live Twice,Sean Connery,Lewis Gilbert,"United States, Russia, Kazakhstan, Norway, Japan",Toyota,"Japanese, Chinese, German",43100000,111600000,117,6.9,6.3,9.5

#### 10. Escribe un código que utilice `.loc[ ]`  para cambiar el nombre del actor de la siguiente forma: Siempre que el valor de la columna 'Bond_Actor' se igual a 'Sean Connery', sustituirlo por 'Sir Sean Connery'.  (1.5)

In [9]:
sir = df['Bond_Actor'] == 'Sean Connery'
sir.head()

0    True
1    True
2    True
3    True
4    True
Name: Bond_Actor, dtype: bool

In [10]:
df.loc[sir, 'Bond_Actor'] = 'Sir Sean Connery'

In [11]:
df

,Movie,Bond_Actor,Director,Depicted_Film_Loc,Bond_Car,Bond_Girl_Nat,US_Gross,World_Gross,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Budget_millions
0,Dr. No,Sir Sean Connery,Terence Young,"Great Britain, Jamaic",Sunbeam,"Swiss, English, English",16067035,59567035,110,7.3,7.7,1.0
1,From Russia with Love,Sir Sean Connery,Terence Young,"United Kingdom, Great Britain, Turkey, Croatia...",Bently,"English, Italian, English, Israeli",24800000,78900000,115,7.5,8.0,2.0
2,Goldfinger,Sir Sean Connery,Guy Hamilton,"United States, Great Britain, Switzerland",Aston Martin,"Serbian, English",51100000,124900000,110,7.8,8.4,3.0
3,Thunderball,Sir Sean Connery,Terence Young,"France, Great Britain, Bahamas, United States",Aston Martin,"French, Italian, Bahamian",63600000,141200000,130,7.0,6.8,9.0
4,You Only Live Twice,Sir Sean Connery,Lewis Gilbert,"United States, Russia, Kazakhstan, Norway, Japan",Toyota,"Japanese, Chinese, German",43100000,111600000,117,6.9,6.3,9.5
5,On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,"Portugal, Great Britain, Switzerland",Mercury,"English, English, Hungarian",22800000,82000000,142,6.8,6.7,8.0
6,Diamonds Are Forever,Sir Sean Connery,Guy Hamilton,"Japan, Egypt, France, South Africa, Great Brit...",Ford,American,43800000,116000000,120,6.7,6.3,7.2
7,Live and Let Die,Roger Moore,Guy Hamilton,"United States, Great Britain, Jamaica",AMC,"English, American, English",35400000,161800000,121,6.8,5.9,7.0
8,The Man with the Golden Gun,Roger Moore,Guy Hamilton,"Great Britain, Lebanon, Portugal, Thailand",AMC,"Sweedish, French",21000000,97600000,125,6.7,5.1,7.0
9,The Spy Who Loved Me,Roger Moore,Lewis Gilbert,"Austria, Russia, Great Britain, Egypt, Italy",Lotus,"American, English, Bosnian",46800000,185400000,125,7.1,6.8,14.0
10,Moonraker,Roger Moore,Lewis Gilbert,"Great Britain, United States, Italy, Brazil, R...",Lotus,"American, French, Moroccan",70300000,210300000,126,6.2,5.7,31.0
11,For Your Eyes Only,Roger Moore,John Glen,"Great Britain, Russia, Spain, Italy, Greece, A...",Citroën,"French, Australian",54800000,195300000,127,6.8,6.3,28.0
12,Octopussy,Roger Moore,John Glen,"Great Britain, India, Russia, Germany",Bajaj,"Sweedish, English",67900000,187500000,131,6.5,5.3,27.5
13,A View to a Kill,Roger Moore,John Glen,"Russia, Great Britain, France, United States",Rolls Royce,"American, Jamaican, Sweedish, Nigerian",50327960,152627960,131,6.2,4.7,30.0
14,The Living Daylights,Timothy Dalton,John Glen,"Gibraltar, Great Britain, Slovakia, Austria, M...",Rolls Royce,"Dutch, American",51185000,191200000,130,6.7,6.3,40.0
15,License to Kill,Timothy Dalton,John Glen,"United States, Bahamas, Great Britain",Aston Martin,"American, American",34667015,156167015,133,6.5,6.0,42.0
16,GoldenEye,Pierce Brosnan,Martin Campbell,"Russia, Monaco, France, England, United States...",BMW,"Polish, Dutch",106429941,356429941,130,7.2,6.9,60.0
17,Tomorrow Never Dies,Pierce Brosnan,Roger Spottiswoode,"Russia, England, Germany, Vietnam",Aston Martin,"Malaysian, American, Danish",125304276,339504276,119,6.4,6.0,110.0
18,The World Is Not Enough,Pierce Brosnan,Michael Apted,"Spain, England, Scotland, Kazakhstan, Azerbaij...",BMW,"American, French, English",126930660,361730660,128,6.3,5.7,135.0
19,Die Another Day,Pierce Brosnan,Lee Tamahori,"South Korea, Hong Kong, Cube, England, Iceland",Aston Martin,"American, Filipino",160942139,431942139,133,6.0,6.1,142.0
20,Casino Royale,Daniel Craig,Martin Campbell,"Czech Republic, Pakistan, Uganda, Madagascar, ...",Aston Martin,"French, Italian",167365000,596365000,144,7.9,7.8,102.0
21,Quantum of Solace,Daniel Craig,Marc Forster,"Italy, England, Haiti, Austria, Bolivia, Russia",Aston Martin,English,169368427,591692078,106,6.7,6.1,230.0
22,Skyfall,Daniel Craig,Sam Mendes,"Turkey, England, China, Macau, Japan, Scotland",Aston Martin,"French, Greek, English",304360277,1108561108,143,7.8,8.2,200.0
23,Spectre,Daniel Craig,Sam Mendes,"Mexico, England, Italy, Austria, Morocco, Vati...",Aston Martin,"French, Italian, Mexican",200074175,879620923,148,6.8,6.4,245.0

#### 11. ¿Cuál es la película más rentable en términos relativos (es decir con respecto a su presupuesto)?  Justifica tu respuesta y escribe el código necesario para llegar a la conclusión (1)

In [ ]:
# Para saber cual fue la pelicula mas rentable respecto a su presupuesto, se quitaron los costos (presupuestos ) 
# a los ingresos mundiales(World_Gross). Una vez que se tenga esa variable, se genera la razón de las ganancias de cada pelicula 
#respecto a suma de todas las ganancias de cada año.

In [ ]:
# Primero convertimos la variable World_Gross a millones

In [12]:
income = df.World_Gross/1000
df['World_Gross'] =  income
df.head()

,Movie,Bond_Actor,Director,Depicted_Film_Loc,Bond_Car,Bond_Girl_Nat,US_Gross,World_Gross,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Budget_millions
0,Dr. No,Sir Sean Connery,Terence Young,"Great Britain, Jamaic",Sunbeam,"Swiss, English, English",16067035,59567.035,110,7.3,7.7,1.0
1,From Russia with Love,Sir Sean Connery,Terence Young,"United Kingdom, Great Britain, Turkey, Croatia...",Bently,"English, Italian, English, Israeli",24800000,78900.000,115,7.5,8.0,2.0
2,Goldfinger,Sir Sean Connery,Guy Hamilton,"United States, Great Britain, Switzerland",Aston Martin,"Serbian, English",51100000,124900.000,110,7.8,8.4,3.0
3,Thunderball,Sir Sean Connery,Terence Young,"France, Great Britain, Bahamas, United States",Aston Martin,"French, Italian, Bahamian",63600000,141200.000,130,7.0,6.8,9.0
4,You Only Live Twice,Sir Sean Connery,Lewis Gilbert,"United States, Russia, Kazakhstan, Norway, Japan",Toyota,"Japanese, Chinese, German",43100000,111600.000,117,6.9,6.3,9.5

In [13]:
df

,Movie,Bond_Actor,Director,Depicted_Film_Loc,Bond_Car,Bond_Girl_Nat,US_Gross,World_Gross,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Budget_millions
0,Dr. No,Sir Sean Connery,Terence Young,"Great Britain, Jamaic",Sunbeam,"Swiss, English, English",16067035,59567.035,110,7.3,7.7,1.0
1,From Russia with Love,Sir Sean Connery,Terence Young,"United Kingdom, Great Britain, Turkey, Croatia...",Bently,"English, Italian, English, Israeli",24800000,78900.000,115,7.5,8.0,2.0
2,Goldfinger,Sir Sean Connery,Guy Hamilton,"United States, Great Britain, Switzerland",Aston Martin,"Serbian, English",51100000,124900.000,110,7.8,8.4,3.0
3,Thunderball,Sir Sean Connery,Terence Young,"France, Great Britain, Bahamas, United States",Aston Martin,"French, Italian, Bahamian",63600000,141200.000,130,7.0,6.8,9.0
4,You Only Live Twice,Sir Sean Connery,Lewis Gilbert,"United States, Russia, Kazakhstan, Norway, Japan",Toyota,"Japanese, Chinese, German",43100000,111600.000,117,6.9,6.3,9.5
5,On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,"Portugal, Great Britain, Switzerland",Mercury,"English, English, Hungarian",22800000,82000.000,142,6.8,6.7,8.0
6,Diamonds Are Forever,Sir Sean Connery,Guy Hamilton,"Japan, Egypt, France, South Africa, Great Brit...",Ford,American,43800000,116000.000,120,6.7,6.3,7.2
7,Live and Let Die,Roger Moore,Guy Hamilton,"United States, Great Britain, Jamaica",AMC,"English, American, English",35400000,161800.000,121,6.8,5.9,7.0
8,The Man with the Golden Gun,Roger Moore,Guy Hamilton,"Great Britain, Lebanon, Portugal, Thailand",AMC,"Sweedish, French",21000000,97600.000,125,6.7,5.1,7.0
9,The Spy Who Loved Me,Roger Moore,Lewis Gilbert,"Austria, Russia, Great Britain, Egypt, Italy",Lotus,"American, English, Bosnian",46800000,185400.000,125,7.1,6.8,14.0
10,Moonraker,Roger Moore,Lewis Gilbert,"Great Britain, United States, Italy, Brazil, R...",Lotus,"American, French, Moroccan",70300000,210300.000,126,6.2,5.7,31.0
11,For Your Eyes Only,Roger Moore,John Glen,"Great Britain, Russia, Spain, Italy, Greece, A...",Citroën,"French, Australian",54800000,195300.000,127,6.8,6.3,28.0
12,Octopussy,Roger Moore,John Glen,"Great Britain, India, Russia, Germany",Bajaj,"Sweedish, English",67900000,187500.000,131,6.5,5.3,27.5
13,A View to a Kill,Roger Moore,John Glen,"Russia, Great Britain, France, United States",Rolls Royce,"American, Jamaican, Sweedish, Nigerian",50327960,152627.960,131,6.2,4.7,30.0
14,The Living Daylights,Timothy Dalton,John Glen,"Gibraltar, Great Britain, Slovakia, Austria, M...",Rolls Royce,"Dutch, American",51185000,191200.000,130,6.7,6.3,40.0
15,License to Kill,Timothy Dalton,John Glen,"United States, Bahamas, Great Britain",Aston Martin,"American, American",34667015,156167.015,133,6.5,6.0,42.0
16,GoldenEye,Pierce Brosnan,Martin Campbell,"Russia, Monaco, France, England, United States...",BMW,"Polish, Dutch",106429941,356429.941,130,7.2,6.9,60.0
17,Tomorrow Never Dies,Pierce Brosnan,Roger Spottiswoode,"Russia, England, Germany, Vietnam",Aston Martin,"Malaysian, American, Danish",125304276,339504.276,119,6.4,6.0,110.0
18,The World Is Not Enough,Pierce Brosnan,Michael Apted,"Spain, England, Scotland, Kazakhstan, Azerbaij...",BMW,"American, French, English",126930660,361730.660,128,6.3,5.7,135.0
19,Die Another Day,Pierce Brosnan,Lee Tamahori,"South Korea, Hong Kong, Cube, England, Iceland",Aston Martin,"American, Filipino",160942139,431942.139,133,6.0,6.1,142.0
20,Casino Royale,Daniel Craig,Martin Campbell,"Czech Republic, Pakistan, Uganda, Madagascar, ...",Aston Martin,"French, Italian",167365000,596365.000,144,7.9,7.8,102.0
21,Quantum of Solace,Daniel Craig,Marc Forster,"Italy, England, Haiti, Austria, Bolivia, Russia",Aston Martin,English,169368427,591692.078,106,6.7,6.1,230.0
22,Skyfall,Daniel Craig,Sam Mendes,"Turkey, England, China, Macau, Japan, Scotland",Aston Martin,"French, Greek, English",304360277,1108561.108,143,7.8,8.2,200.0
23,Spectre,Daniel Craig,Sam Mendes,"Mexico, England, Italy, Austria, Morocco, Vati...",Aston Martin,"French, Italian, Mexican",200074175,879620.923,148,6.8,6.4,245.0

In [17]:
profits = df['World_Gross'] - df['Budget_millions']
df['Profits'] =  profits

In [22]:
profits_relatives = df['Profits'] / df['Profits'].sum() *100

In [23]:
df['profits_relatives'] =  profits_relatives

In [24]:
df

,Movie,Bond_Actor,Director,Depicted_Film_Loc,Bond_Car,Bond_Girl_Nat,US_Gross,World_Gross,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Budget_millions,Profits,profits_relatives
0,Dr. No,Sir Sean Connery,Terence Young,"Great Britain, Jamaic",Sunbeam,"Swiss, English, English",16067035,59567.035,110,7.3,7.7,1.0,59566.035,0.861227
1,From Russia with Love,Sir Sean Connery,Terence Young,"United Kingdom, Great Britain, Turkey, Croatia...",Bently,"English, Italian, English, Israeli",24800000,78900.000,115,7.5,8.0,2.0,78898.000,1.140735
2,Goldfinger,Sir Sean Connery,Guy Hamilton,"United States, Great Britain, Switzerland",Aston Martin,"Serbian, English",51100000,124900.000,110,7.8,8.4,3.0,124897.000,1.805805
3,Thunderball,Sir Sean Connery,Terence Young,"France, Great Britain, Bahamas, United States",Aston Martin,"French, Italian, Bahamian",63600000,141200.000,130,7.0,6.8,9.0,141191.000,2.041389
4,You Only Live Twice,Sir Sean Connery,Lewis Gilbert,"United States, Russia, Kazakhstan, Norway, Japan",Toyota,"Japanese, Chinese, German",43100000,111600.000,117,6.9,6.3,9.5,111590.500,1.613415
5,On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,"Portugal, Great Britain, Switzerland",Mercury,"English, English, Hungarian",22800000,82000.000,142,6.8,6.7,8.0,81992.000,1.185469
6,Diamonds Are Forever,Sir Sean Connery,Guy Hamilton,"Japan, Egypt, France, South Africa, Great Brit...",Ford,American,43800000,116000.000,120,6.7,6.3,7.2,115992.800,1.677065
7,Live and Let Die,Roger Moore,Guy Hamilton,"United States, Great Britain, Jamaica",AMC,"English, American, English",35400000,161800.000,121,6.8,5.9,7.0,161793.000,2.339260
8,The Man with the Golden Gun,Roger Moore,Guy Hamilton,"Great Britain, Lebanon, Portugal, Thailand",AMC,"Sweedish, French",21000000,97600.000,125,6.7,5.1,7.0,97593.000,1.411034
9,The Spy Who Loved Me,Roger Moore,Lewis Gilbert,"Austria, Russia, Great Britain, Egypt, Italy",Lotus,"American, English, Bosnian",46800000,185400.000,125,7.1,6.8,14.0,185386.000,2.680376
10,Moonraker,Roger Moore,Lewis Gilbert,"Great Britain, United States, Italy, Brazil, R...",Lotus,"American, French, Moroccan",70300000,210300.000,126,6.2,5.7,31.0,210269.000,3.040143
11,For Your Eyes Only,Roger Moore,John Glen,"Great Britain, Russia, Spain, Italy, Greece, A...",Citroën,"French, Australian",54800000,195300.000,127,6.8,6.3,28.0,195272.000,2.823311
12,Octopussy,Roger Moore,John Glen,"Great Britain, India, Russia, Germany",Bajaj,"Sweedish, English",67900000,187500.000,131,6.5,5.3,27.5,187472.500,2.710543
13,A View to a Kill,Roger Moore,John Glen,"Russia, Great Britain, France, United States",Rolls Royce,"American, Jamaican, Sweedish, Nigerian",50327960,152627.960,131,6.2,4.7,30.0,152597.960,2.206315
14,The Living Daylights,Timothy Dalton,John Glen,"Gibraltar, Great Britain, Slovakia, Austria, M...",Rolls Royce,"Dutch, American",51185000,191200.000,130,6.7,6.3,40.0,191160.000,2.763858
15,License to Kill,Timothy Dalton,John Glen,"United States, Bahamas, Great Britain",Aston Martin,"American, American",34667015,156167.015,133,6.5,6.0,42.0,156125.015,2.257310
16,GoldenEye,Pierce Brosnan,Martin Campbell,"Russia, Monaco, France, England, United States...",BMW,"Polish, Dutch",106429941,356429.941,130,7.2,6.9,60.0,356369.941,5.152522
17,Tomorrow Never Dies,Pierce Brosnan,Roger Spottiswoode,"Russia, England, Germany, Vietnam",Aston Martin,"Malaysian, American, Danish",125304276,339504.276,119,6.4,6.0,110.0,339394.276,4.907082
18,The World Is Not Enough,Pierce Brosnan,Michael Apted,"Spain, England, Scotland, Kazakhstan, Azerbaij...",BMW,"American, French, English",126930660,361730.660,128,6.3,5.7,135.0,361595.660,5.228077
19,Die Another Day,Pierce Brosnan,Lee Tamahori,"South Korea, Hong Kong, Cube, England, Iceland",Aston Martin,"American, Filipino",160942139,431942.139,133,6.0,6.1,142.0,431800.139,6.243118
20,Casino Royale,Daniel Craig,Martin Campbell,"Czech Republic, Pakistan, Uganda, Madagascar, ...",Aston Martin,"French, Italian",167365000,596365.000,144,7.9,7.8,102.0,596263.000,8.620980
21,Quantum of Solace,Daniel Craig,Marc Forster,"Italy, England, Haiti, Austria, Bolivia, Russia",Aston Martin,English,169368427,591692.078,106,6.7,6.1,230.0,591462.078,8.551566
22,Skyfall,Daniel Craig,Sam Mendes,"Turkey, England, China, Macau, Japan, Scotland",Aston Martin,"French, Greek, English",304360277,1108561.108,143,7.8,8.2,200.0,1108361.108,16.025074
23,Spectre,Daniel Craig,Sam Mendes,"Mexico, England, Italy, Austria, Morocco, Vati...",Aston Martin,"French, Italian, Mexican",200074175,879620.923,148,6.8,6.4,245.0,879375.923,12.714326

In [ ]:
# Por lo tanto la pelicula Skyfall con Daniel Craig ha sido la pelicula mas rentable con un 16.02% de representación de los ingresos netos totales

In [25]:
df.loc[profits_relatives.idxmax()]

Movie                                                       Skyfall
Bond_Actor                                             Daniel Craig
Director                                                 Sam Mendes
Depicted_Film_Loc    Turkey, England, China, Macau, Japan, Scotland
Bond_Car                                               Aston Martin
Bond_Girl_Nat                                French, Greek, English
US_Gross                                                  304360277
World_Gross                                             1108561.108
Film_Length                                                     143
Avg_User_IMDB                                                   7.8
Avg_User_Rtn_Tom                                                8.2
Budget_millions                                               200.0
Profits                                                 1108361.108
profits_relatives                                         16.025074
Name: 22, dtype: object

#### 12.  Calcula la media de cada una las variables 'Avg_User_IMDB'  y 'Avg_User_Rtn_Tom' y guarda estos valores en mean_1 y mean_2, respectivamente. 
#### Escribe un función llamada califica( ) que reciba como argumento un `renglón` y califique a la película de la siguiente manera:
#### Si el actor es ` 'Sean Connery'`  o `'Daniel Craig'`   y además se cumple que  `Avg_User_IMDB > mean_1 ` Y  `Avg_User_Rtn_Tom > mean_2` , entonces regrese 'excelente' , de lo contrario que regrese 'regular'.

####  Utiliza el método `apply( )`  para aplicar la función `califica()`  a cada uno de los renglones del data set. 

#### `Hint 1 ` : Dentro de tu función, deberás extraer del renglón los valores correspondientes a las variables utilizadas.

#### `Hint 2` : Utiliza la sintaxis `dataframe.apply(califica, axis = 'algo')`  . Utiliza `shift + tab + tab` para saber el valor de 'algo' que tienes que poner.  (2)